
/*  for Registration - customer.html */


.containercust{
width: 100%;
margin: 1px;
padding: 10px;
background-color: #f2f2f2;
align-self: start;
font-family: 'Courier New', Courier, monospace;
flex-direction: row;
}

.section{
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 1px 3px 2 #e6b9b9;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;  
    padding: 10px;
}

.col-md-6{
  flex: 1;
  padding: 1px;
    margin: 2px;
    background-color: white;
}   

.form-group2 {
  margin-bottom: 15px;
  display: flex;
    flex-direction: row
}

.form-control{
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.col-md-12 {
    flex: 1;
    padding: 1px;
    margin: 2px;
    background-color: white;
}

.button {
  background-color: #2e0fdd; /* blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.container1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;  
    padding: 5px;
}