.bgimg {
  background-image: url("/hero_1.jpg.webp");
  height: 400px;
  position: relative;
  /* opacity: 0.65; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Libre Bodoni", serif;
  display: flex;
  justify-content: center;
}

.container-home {
  max-width: 100% !important;
  --bs-gutter-x: 0 !important;
  /* padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */
}

.content-mid {
  background-color: rgba(223, 216, 216, 0.5);
  font-family: "Abril Fatface", times, serif;
  color: white;
  width: 100%;
  height: 400px;
}

.content-midus {
  max-width: 1140px;
  height: 450px;
  font-family: "Abril Fatface", times, serif;
}

/* tab styling */
.wrapper {
  display: flex;
  justify-content: center;
}

.tab-container {
  /* max-width: 100%; */
  /* max-width: calc(var(--breakpoint__extra_large__min) + var(--spacing__twelve)); */
  /* max-width: 75rem; */
  margin: 20px;
  /* font-family: sans-serif; */
  width: 70%;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  width: 300px;
}

.tab {
  flex: 1;
  padding: 12px;
  cursor: pointer;
  background: #f0f0f0;
  /* border: none;
  outline: none; */
  transition: background 0.3s;
  color: black;
  border-radius: 5px 5px 0px 0px;
}

.tab:hover {
  background: #ddd;
}

.tab.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab-content {
  display: block;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  flex: 1;
  min-width: 300px;
}

.tab-content.hidden {
  display: none;
}

.tab-content.active {
  display: block;
}

.listsofinput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* popup content styling */
.popup-panel {
  /* visibility: hidden; */
  /* display: none; */
  position: absolute;
  top: 620px;
  left: 720px;
  z-index: 1000;
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* tiny icons inside the input */
.image-label1 {
  background-image: url("/pin-map-fill.svg");
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: 5px center; /* Position the image */
  padding-left: 25px; /* Add padding to make space for the image */
  display: inline-block; /* Adjust display for proper spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

/* tab date content styling */
input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  /* padding: 8px; */
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 45px;
}

.image-label2 {
  background-image: url("/calendar.svg");
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: 5px center; /* Position the image */
  /* padding-left: 25px; Add padding to make space for the image */
  display: inline-block; /* Adjust display for proper spacing */
  /*border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.image-label2::placeholder {
  padding-left: 25px; /* Moves placeholder to the right */
}

.image-label3 {
  background-image: url(/people-fill.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

/* button for tickets */
.btn-ticket {
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 5px;
  color: #454545;
  margin-top: 10px;
}

/* featured destination carousel styling */
.carousel {
  /* margin-top: -310px; */
  /* top: -310px; */
  display: flex;
  width: 1300px;
  height: 500px;
  justify-content: center; /*Centers horizontally */
  margin: 0px auto;
}

h3 {
  background-color: aquamarine;
  padding: 20px;
  text-align: center;
  color: #2854e1;
  width: 1000px;
  position: relative;
  justify-items: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 20px;
  border-radius: 30px;
}

.carousel-inner {
  border-radius: 10px;
}
.carousel-item {
  width: 100%;
  height: 350px;
}

.card {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3d2222b6;
}
.card-img-top {
  height: 300px;
}
.card-group {
  gap: 50px;
}

.featured {
  display: block;
  position: relative;
  /* top: -310px; */
  /* margin-left: 60px; */
  color: #9c9b9b;
  margin-left: 110px;
}

.caption {
  background-color: rgba(0, 0, 0, 0.3);
  top: 411px;
  width: 100%;
  left: 0px !important;
  right: 0px !important;
  height: 88px;
}

/* about us page styling */
.big-container {
  position: relative;
  width: 0px auto;
  /* display: flex;
  justify-content: center; */
}

.person-info {
  /* width: 800px; */
  padding: 20px;
  /* justify-items: center; */
}

.image img {
  width: 260x;
  height: 300px;
}

.text {
  padding: 20px;
  width: 960px;
}

/* header page for vacation pacakage - vacation.html */
.bgimg1 {
  background-image: url("/hero_2.jpg.webp");
  height: 400px;
  position: relative;
  /* opacity: 0.65; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Libre Bodoni", serif;
  display: flex;
  justify-content: center;
}

.bgimgmain {
  background-image: url("/hero_2.jpg.webp");
  background-size: cover;
}

/* header page for Registration - customer.html */
.bgimg2 {
  background-image: url("/hero_3.jpg.webp");
  height: 400px;
  position: relative;
  /* opacity: 0.65; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Libre Bodoni", serif;
  display: flex;
  justify-content: center;
}

/* header page for contact us - contact.html */
.bgimg3 {
  background-image: url("/hero_4.jpg.webp");
  height: 400px;
  position: relative;
  /* opacity: 0.65; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Libre Bodoni", serif;
  display: flex;
  justify-content: center;
}

/* header page for about us - team.html */
.bgimg4 {
  background-image: url("/hero_5.jpg");
  height: 400px;
  position: relative;
  /* opacity: 0.65; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

/* deal zone styling */
.dealcontainer {
  border: 1px solid #ccc;
  width: 100%;
  height: 80vh;
  border-radius: 5px 80px 5px 80px;
  display: flex;
  justify-content: space-between;
}

.dealinfo {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 310px;
  margin-top: 40px;
  /* border: 1px solid #ccc; */
}

.dealimg {
  display: flex;
  flex-direction: row;
  /* border-radius: 5px 80px 5px 80px; */
  /* border: 1px solid #ccc; */
  width: 100%;
  height: 330px;
  justify-content: space-between;
}

.dealimg img {
  height: 380px;

  padding: 15px;
}

.dealdetail {
  width: 340px;
  padding: 20px;
}

.tagline {
  color: #e67588;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.11875rem;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.dealdetail h4 {
  font-family: "Abril Fatface", times, serif;
  color: #838383;
}

.dealdetail p {
  font-style: italic;
  font-size: 12px;
}

.dealbutton {
  color: #838383;
  background-color: white;
  border: 1px solid #838383;
  border-radius: 5px;
  padding: 5px;
}

.dealbutton:hover {
  color: #353535;

  border: 2px solid #838383;
}

.row1 {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  /* padding: 10px; */
  display: flex;
}

/*  */
.contact-info {
  font-family: "Abril Fatface", times, serif;
  position: relative;
  font-size: 20px;
  line-height: 1.8;
  color: #6c757d;
}

.form-group {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  font-size: 24px;
  line-height: 2;
  color: #1f6098;
  flex: 1; /* Allows form groups to take up equal available space */
}

.form-row {
  display: flex; /* Makes items in this row arrange horizontally */
  gap: 15px; /* Adds space between items in the row */
  margin-bottom: 10px; /* Adds space between form rows */
}

.form-group label {
  display: inline-block; /* Ensures label appears above the input */
  margin-bottom: 5px;
}

.form-group input {
  width: 100%; /* Makes input fields fill their parent container */
  padding: 8px;
  border: 1px solid #a11f1f;
  border-radius: 4px;
}

.registration-form {
  margin: 75px 40px 40px 40px;
  width: 500px;
  position: relative;
  left: 250px;
  box-shadow: 5px 5px 5px rgb(225, 142, 142);
  padding: 10px;
}

/* Sarah's contact us form styling */
.form-group1 {
  position: relative;
  font-size: 24px;
  line-height: 2;
  flex: 1; /* Allows form groups to take up equal available space */
  color: #6c757d;
}

.form-group1 input {
  width: 165px;
}

.section1 {
  padding: 20px;
  margin: 40px 40px 0px 40px;
  border-radius: 8px;
}

/* vacation packages */
.card-body h4 {
  font-family: "Abril Fatface", times, serif;
  color: #838383;
}

.col img {
  width: 325px;
  height: 330px;
}

.heading h4 {
  font-family: "Abril Fatface", times, serif;
  color: #838383;
}
